*.suo
*.sdf
*.opensdf
/MathLib/Debug
/MathLib/MathLib/Debug
/MathLib/MathLib/*.filters

MathLib/MathLibTest/MathLibTest.xcodeproj/project.xcworkspace/xcuserdata/wanglei.xcuserdatad/UserInterfaceState.xcuserstate
